<!DOCTYPE html>
<html lang="{{ matrix.language.get('code') }}" dir="{{ matrix.language.get('direction') }}">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{{ matrix.document.getTitle() }}</title>
  <base href="{{ matrix.document.getNode('url_base') }}">

{% if matrix.document.getDescription() %}
  <meta name="description" content="{{ matrix.document.getDescription() }}"/>
{% endif %}
{% if matrix.document.getKeywords() %}
  <meta name="keywords" content="{{ matrix.document.getKeywords() }}"/>
{% endif %}

{% for meta in matrix.document.getMetas() %}
  <meta {{ meta.attribute }}="{{ meta.value }}" content="{{ meta.content }}">
{% endfor %}

{% for link in matrix.document.getLinks() %}
  <link href="{{ link.href }}" rel="{{ link.rel }}" {{ link.hreflang ? 'hreflang="' ~ link.hreflang ~ '"' }} {{ link.type ? 'type="' ~ link.type ~ '"' }} {{ link.media ? 'type="' ~ link.media ~ '"' }}>
{% endfor %}

  {% block document_head_meta %}{% endblock %}

  <link href="catalog/view/stylesheet/bootstrap.css" rel="stylesheet" media="screen"/>
{% for style in matrix.document.getStyles() %}
  <link href="{{ style.href }}" rel="{{ style.rel }}" media="{{ style.media }}"/>
{% endfor %}
  <link href="catalog/view/stylesheet/fonts/fontawesome/css/all.min.css" rel="stylesheet"/>
  <link href="catalog/view/stylesheet/stylesheet.css" rel="stylesheet"/>
  <link href="extension/matrix/catalog/view/asset/style.css" rel="stylesheet"/>

  <script src="catalog/view/javascript/jquery/jquery-3.7.1.min.js"></script>
  {% for script in matrix.document.getScripts('header') %}
    <script src="{{ script.href }}"></script>
  {% endfor %}

  {% block document_head_asset %}{% endblock %}

  {% block document_head_omega %}{% endblock %}
</head>

<body class="{{ matrix.document.getNode('class_body')|join(' ') }}">
{% block document_body_alpha %}{% endblock %}

{% block document_body %}{% endblock %}

<script src="catalog/view/javascript/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="catalog/view/javascript/common.js"></script>
{% for script in matrix.document.getScripts('footer') %}
  <script src="{{ script.href }}"></script>
{% endfor %}

{% block document_body_omega %}{% endblock %}
</body>
</html>
