{% extends 'document.tpl.twig' %}

{% block document_body %}
{% if header %}
<div class="main-header">
  {{ header }}
</div>
{% endif %}

<main class="main-section">
  <div class="container">
    {% set breadcrumbs = matrix.document.getNode('breadcrumbs') %}
    {% if breadcrumbs|length > 0 %}
    <ul class="breadcrumb">
      {% for breadcrumb in matrix.document.getNode('breadcrumbs') %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}

    {% block page_alerts %}{% endblock %}

    <div class="row">

      {{ column_left }}

      <div id="content" class="col">
        {{ content_top }}

        <div id="content-main">
          {% block page_content %}{% endblock %}
        </div>

        {{ content_bottom }}
      </div>

      {{ column_right }}
    </div>
  </div>
</main>

{% if footer %}
<footer class="main-footer">
  {{ footer }}
</footer>
{% endif %}
{% endblock %}
